<section class="w-full flex flex-col items-center justify-center pt-10 px-10 bg-slate-100">
  <h2 class="font-body text-[4.5rem] text-center text-[#000000]">
    Celebramos Nuestro
  </h2>
  <div
    class="flex flex-col w-full h-auto px-2 py-20 gap-40 items-center justify-center"
  >
    <div class="w-[90%]">
      <figure class="float-left mr-6 mb-4 p-4">
        <img src="public/30sg.png" alt="aniversario" class="w-[15rem]" />
      </figure>
      <p class="font-text text-[1.5rem] text-justify text-[#333333]">
        ¡Celebramos con orgullo tres décadas de excelencia educativa! Es un
        momento de gran regocijo para nuestra institución, ya que conmemoramos
        30 años de dedicación inquebrantable al desarrollo integral de nuestros
        estudiantes y al servicio excepcional a nuestra comunidad. Desde nuestro
        humilde inicio, nos hemos esforzado por elevar los estándares de la
        educación en el sur del país. Hoy, nos enorgullece afirmar que nos hemos
        convertido en la principal institución educativa de la región,
        reconocida por nuestra calidad académica, nuestro compromiso con la
        innovación educativa y nuestro impacto positivo en la sociedad. ¡Gracias
        a todos por ser parte de este increíble viaje educativo!
      </p>
    </div>
    <img
      class="w-full h-[30rem] object-cover"
      src="/image30.png"
      alt="img-aniversario"
    />
  </div>
</section>
