<footer class="w-full h-auto bg-gray-800 text-white py-20 px-10">
  <div
    class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10"
  >
    <!-- Acreditaciones y Convenios -->
    <div class="flex flex-col gap-5">
      <h3 class="font-body text-[2rem] font-semibold">
        Acreditaciones & Convenios
      </h3>
      <ul>
        <li class="mb-2">✓ Ministerio de Educación</li>
        <li class="mb-2">✓ Convenio con Universidad X</li>
        <li class="mb-2">✓ Certificación ISO 9001</li>
      </ul>
    </div>

    <!-- Dirección y Teléfono -->
    <div class="flex flex-col gap-5">
      <h3 class="font-body text-[2rem] font-semibold">Contacto</h3>
      <div>
        <p class="font-body text-[1.8rem]">Dirección:</p>
        <p class="font-text text-white/60 text-[1.5rem]">
          Edificio Central Bernardo Valdivieso 209-61 y Mercadillo.
        </p>
        <p class="font-text text-white/60 text-[1.5rem]">
          Campus Pompeya Av. Éxodo de Yangana 391-340 Km 3 1/2 a Vilcabamba.
        </p>
        <p class="font-text text-white/60 text-[1.5rem]">Loja- Ecuador</p>
      </div>
      <div>
        <p class="font-body text-[1.8rem]">Teléfono:</p>
        <p class="font-text text-white/60 text-[1.5rem]">
          07 258 5658 - 07 254 5744
        </p>
      </div>
      <div>
        <p class="font-body text-[1.8rem]">Email:</p>
        <a
          href="mailto:info@unidadeducativa.com"
          class="text-[1.5rem] text-white/60 hover:underline"
          >info@unidadeducativa.com</a
        >
      </div>
    </div>

    <!-- Formulario de Denuncias -->
    <div>
      <h3 class="font-body text-[2rem] font-semibold mb-4">Denuncias</h3>
      <form action="/denuncias" method="POST">
        <div class="mb-6">
          <label for="nombre" class="font-text text-[1.5rem] block mb-2"
            >Nombre:</label
          >
          <input
            type="text"
            id="nombre"
            name="nombre"
            class="w-full p-3 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md font-text text-[1.5rem]"
          />
        </div>
        <div class="mb-4">
          <label for="mensaje" class="font-text text-[1.5rem] block mb-2"
            >Mensaje:</label
          >
          <textarea
            id="mensaje"
            name="mensaje"
            class="w-full p-8 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md resize-none font-text text-[1.5rem]"
          ></textarea>
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md text-[1.5rem] font-semibold"
          >Enviar</button
        >
      </form>
    </div>

    <!-- Redes Sociales -->
    <div>
      <h3 class="text-[2rem] font-semibold mb-4">Síguenos</h3>
      <ul class="flex space-x-4 justify-center md:justify-start">
        <li>
          <a
            href="https://facebook.com"
            target="_blank"
            class="hover:text-blue-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0,0,256,256"
            >
              <g transform=""
                ><g
                  fill="#ffffff"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                  ><g transform="scale(5.12,5.12)"
                    ><path
                      d="M25,3c-12.15,0 -22,9.85 -22,22c0,11.03 8.125,20.137 18.712,21.728v-15.897h-5.443v-5.783h5.443v-3.848c0,-6.371 3.104,-9.168 8.399,-9.168c2.536,0 3.877,0.188 4.512,0.274v5.048h-3.612c-2.248,0 -3.033,2.131 -3.033,4.533v3.161h6.588l-0.894,5.783h-5.694v15.944c10.738,-1.457 19.022,-10.638 19.022,-21.775c0,-12.15 -9.85,-22 -22,-22z"
                    ></path></g
                  ></g
                ></g
              >
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com"
            target="_blank"
            class="hover:text-blue-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0,0,256,256"
            >
              <g
                fill="#ffffff"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"
                  ><path
                    d="M11,4c-3.866,0 -7,3.134 -7,7v28c0,3.866 3.134,7 7,7h28c3.866,0 7,-3.134 7,-7v-28c0,-3.866 -3.134,-7 -7,-7zM13.08594,13h7.9375l5.63672,8.00977l6.83984,-8.00977h2.5l-8.21094,9.61328l10.125,14.38672h-7.93555l-6.54102,-9.29297l-7.9375,9.29297h-2.5l9.30859,-10.89648zM16.91406,15l14.10742,20h3.06445l-14.10742,-20z"
                  ></path></g
                ></g
              >
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com"
            target="_blank"
            class="hover:text-pink-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0,0,256,256"
            >
              <g
                fill="#ffffff"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
                ><g transform="scale(5.12,5.12)"
                  ><path
                    d="M16,3c-7.17,0 -13,5.83 -13,13v18c0,7.17 5.83,13 13,13h18c7.17,0 13,-5.83 13,-13v-18c0,-7.17 -5.83,-13 -13,-13zM37,11c1.1,0 2,0.9 2,2c0,1.1 -0.9,2 -2,2c-1.1,0 -2,-0.9 -2,-2c0,-1.1 0.9,-2 2,-2zM25,14c6.07,0 11,4.93 11,11c0,6.07 -4.93,11 -11,11c-6.07,0 -11,-4.93 -11,-11c0,-6.07 4.93,-11 11,-11zM25,16c-4.96,0 -9,4.04 -9,9c0,4.96 4.04,9 9,9c4.96,0 9,-4.04 9,-9c0,-4.96 -4.04,-9 -9,-9z"
                  ></path></g
                ></g
              >
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center mt-8">
    <p class="font-body text-[1.2rem] text-white/70">
      &copy; 2024 U.E.P San Gerardo. Todos los derechos reservados.
    </p>
  </div>
</footer>
