<section class="relative flex items-center justify-center">
  <video
  src="/intro.mp4"
  autoplay
  muted
  playsinline
  loop
  preload="none"
  class="w-[100vw] h-[100vh] object-cover"
  data-astro-lazy
></video>


  <div class="absolute inset-0 bg-black opacity-55"></div>

  <div class="absolute top-[25rem] flex flex-col items-center gap-5">
    <figure>
      <img
        class="w-[20rem] opacity-90"
        src="/30sg.webp"
        alt="logo San Gerardo"
      />
    </figure>
    <h1 class="text-[5rem] text-center font-body text-white px-5">
      Unidad Educativa San Gerardo
    </h1>
    <h2
      class="font-heading text-[2rem] text-center font-medium text-white fade-effect font-text"
    >
      ¡Gerardino un d&iacute;a, Gerardino toda la vida!
    </h2>
  </div>
</section>
